<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.sf.ehcache">
        <level value="error"/>
    </logger>

    <logger name="com.terracottatech">
        <level value="error"/>
    </logger>

    <logger name="com.terracotta">
        <level value="error"/>
    </logger>

    <logger name="org.terracotta">
        <level value="error"/>
    </logger>

    <logger name="com.github.lanimall.ehcache">
        <level value="info"></level>
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>